doctype html
html(lang='en')
    head
        title home
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
        link(rel='stylesheet', href='/stylesheets/homescreen.css')
    body
        div(class="text-center")
            h.title Welcom to auctions
            hr
            p
                a(href='/auctions') All auctions
            p
                a(href='/users') All users
            p
            hr
            p
                a(href='/user/create') Create new user
            p
                a(href='/auction/create') Create new auction
